@font-face {
    font-family: 'Roboto';
    src: url('/VQA-Keras-Visual-Question-Answering/vendor/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('/VQA-Keras-Visual-Question-Answering/vendor/fonts/Roboto-Italic.ttf');
    font-style: italic
}
@font-face {
    font-family: 'Lobster';
    src: url('/VQA-Keras-Visual-Question-Answering/vendor/fonts/Lobster-Regular.ttf');
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Roboto', 'Open Sans';
}
